/* Font */
*{
    font-family: 'Work Sans', sans-serif;
}
/* navigation styles */

.nav-container {
    display: flex;
    justify-content: space-between;

}

.nav-container ul {
    list-style-type: none;


}
.navigation h1{
    font-size: 40px;
}
.navigation{
    margin-left: 225px;
}
.menu{
    margin-right: 235px;
    margin-top: 40px;
}

li {
    display: inline;
    padding: 10px;
    font-size: 18px;
}

/* Banner styles */

.header-color {
    background: rgba(255, 144, 14, 0.1);
    height: 155vh;
}

.banner-header {
    font-size: 64px;
    color: #131313;
    text-align: center;
    margin-top: 30px;
}

.banner-discription {
    font-size: 16px;
    color: #727272;
    text-align: center;
   
}

.banner-button {
    color: #FFFFFF;
    font-size: 20px;
    height: 60px;
    background-color: orange;
    border: hidden;
    border-radius: 8px;
    padding: 10px;
    margin: 0;
    position: absolute;
    left: 46%;

}

.banner-info img {
    width: 1235px;
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* Features styles */
.features-head {
    display: flex;
    margin-top: 50px;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 220px;
}

.features-info {
    margin-top: 150px;
    margin-left: 50px;
}

.features-title {
    font-size: 45px;
}

.features-discription {
    font-size: 16px;
    color: #727272;
    row-gap: 10px;
}
.features-button{
    color: #FFFFFF;
    font-size: 20px;
    background-color: orange;
    width: 150px;
    height: 60px;
    border-radius: 8px;
    border: hidden;
    
    
}
/* Fact style */
.fact{
    margin-left: 100px;
    margin-top: 100px;
}
.grid-fact{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Blog styles */
.blog h1{
    font-size: 50px;
    margin-top: -10px;
}
.blog{
    margin-left: 30px;
    border-left: 5px solid orange;
    height: 100px;
    padding-left: 10px;
    
}
.blog-img img{
    height: 700px;
}
#box-shadow{
   box-shadow: 20px 20px 50px 10px rgba(208, 201, 201, 0.929);
   padding: 10px 5px 5px 10px;
   margin-right: 30px;
}

.blog-container {
    display: flex;
    gap: 90px;
    margin-top: 80px;
    margin-left: 80px;
}
/* Sponsor style */
.sponsor{
    margin-top: 100px;
}

/* Some Facts */
.fact h1{
    font-size: 45px;
    color: #131313;
}

.fact {
    display: inline-flexbox;

}
.fact-border{
    border: 2px solid orangered;
   
}
.grid-fact {
    margin-top: 60px;
    column-gap: 30px;
    text-align: center;
  
}
.blog-img{
    margin-right: 100px;
}

.creative-button {
   background-color: orange;
    width: 250px;
    height: 180px;
    margin-left: -80px;
    font-size: 50px;
    color: #FFFFFF;
    margin-top: -1700px;
    border-radius: 15px;
    border: hidden;
}

/* company styles */
.company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    mix-blend-mode: luminosity;
}

/* Sponsor styles */
.sponsor h1{
    font-size: 45;
    color: #131313;
}

.sponsor {
    text-align: center;
}
.sponsor p{
    font-size: 16px;
}

.company img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    mix-blend-mode: luminosity;
}

/* Footer Style */
.footer-color{
    padding-top:35px;
    background-color: rgba(255, 144, 14, 0.1);
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
   
}
footer{
    margin-top: 100px;
    margin-bottom: 100px;
}